sonar.jdbc.username={{ postgres_sonar_user }}
sonar.jdbc.password={{ postgres_sonar_password }}
sonar.jdbc.url=jdbc:postgresql://{{ postgresql_host }}:{{ postgresql_port }}/{{ postgres_sonar_db }}
sonar.web.host={{ sonarqube_listen_host }}
sonar.web.port={{ sonarqube_port }}
